*{
    padding: 0px;
    margin: 0px;
}
* li{
    list-style: none;
}

.list-container
{
    padding: 5px;
    margin: 20px;
    border: 1px solid  blue;
    border-left: 6px solid  blue;
}

.job-listItem-container{
    border-bottom: 1px solid  red;
}